@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

vaadin-app-layout::part(drawer) {
  width: 10em;
}

.roflan-message-block {
    width: 100%;
}

.roflan-message-input {
    width: calc(100vw - 250px);
    margin: auto 0 0 10px;
}

.roflan-send-message-icon {
    width: 36px;
    height: 36px;
    margin: auto 0 5px 0;
    cursor: pointer;
}

.roflan-chat-wrapper {
    height: calc(100vh - 50px);
    padding: 0;
}

.roflan-messages-area {
    height: calc(100vh - 117px);
    align-items: flex-end;
    overflow-y: scroll;
}

.roflan-message-box {
    margin-right: 10px;
    padding: 0;
    background-color: #c2d9fc;
    max-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 200px;

    /*
        TODO Add Styles to style roflan message
    */
}

.logged-in-user-box {
    border: 0.5px dashed;
    max-height: 30px;
    padding: 0px;
    max-width: 130px;
}

:host([readonly])::after {
    background-color: transparent;
    opacity: 0;
    border: none;
}
